<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCujzTw8dUX1nBd3x4VaiWih2CIwDmW51E</string>
	<key>GCM_SENDER_ID</key>
	<string>1050479394142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.genxel.pixelApp</string>
	<key>PROJECT_ID</key>
	<string>pixelmanagement-ea70d</string>
	<key>STORAGE_BUCKET</key>
	<string>pixelmanagement-ea70d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050479394142:ios:f86f6981d7b7f34261e3cf</string>
</dict>
</plist>